In [1]:
import pandas as pd
import numpy as np

In [2]:
data_rf = pd.read_csv('nmr_eas_dft_ml.csv')
data_rf = data_rf.rename(columns={'ML NMR':'ML C NMR','DFT NMR':'DFT C NMR','smiles':'SMILES','log_index':'C_log_index',})
data_rf = data_rf[['SMILES','C_log_index','DFT C NMR','ML C NMR','exp_result']].copy()

In [3]:
data_rf

,SMILES,C_log_index,DFT C NMR,ML C NMR,exp_result
0,c1n2ccncc2nc1,1,110.3638,118.63,1
1,c1n2ccncc2nc1,3,116.4586,122.32,0
2,c1n2ccncc2nc1,4,129.6186,132.70,0
3,c1n2ccncc2nc1,6,144.3893,141.73,0
4,c1n2ccncc2nc1,9,135.5628,133.40,0
...,...,...,...,...,...
2453,c12n(c(nc1)C1CCCC(N1C(=O)OCc1ccccc1)C(F)(F)F)c...,19,129.5748,129.49,0
2454,c12n(c(nc1)C1CCCC(N1C(=O)OCc1ccccc1)C(F)(F)F)c...,20,129.2621,128.84,0
2455,c12n(c(nc1)C1CCCC(N1C(=O)OCc1ccccc1)C(F)(F)F)c...,21,128.2479,128.60,0
2456,c12n(c(nc1)C1CCCC(N1C(=O)OCc1ccccc1)C(F)(F)F)c...,26,112.5998,118.63,0
2457,c12n(c(nc1)C1CCCC(N1C(=O)OCc1ccccc1)C(F)(F)F)c...,27,126.5740,133.81,0

In [4]:
#adding in H-DFT shift
h_shift = pd.read_csv('DISCO_dft-raw-scaled-6311-Hshift.csv')

In [5]:
h_shift = h_shift.rename(columns={'Scaled NMR':'DFT H NMR','Scaled NMR':'DFT H NMR'})
h_shift = h_shift[['SMILES','C_log_index','DFT H NMR','H_log_index']].copy()
h_shift

                          SMILES  C_log_index  DFT H NMR  H_log_index
0                     n1ccc[nH]1            2     7.3247            6
1                     n1ccc[nH]1            3     6.1552            7
2                     n1ccc[nH]1            4     7.0835            8
3     c1c2nc(nc(n2nc1)N(CC)CC)SC            1     5.9089           17
4     c1c2nc(nc(n2nc1)N(CC)CC)SC            9     7.4058           18
...                          ...          ...        ...          ...
4823     c1(nc2n(c(n1)CCC)ncc2)C           11     7.6601           21
4824     c1(nc2n(c(n1)CCC)ncc2)C           12     6.2019           22
4825     c1(nc2n(c(n1)CCC)ncc2)C           13     2.7644           23
4826     c1(nc2n(c(n1)CCC)ncc2)C           13     2.4312           24
4827     c1(nc2n(c(n1)CCC)ncc2)C           13     2.7639           25

[4828 rows x 4 columns]

In [6]:
data_rf = data_rf.merge(h_shift,on=['SMILES','C_log_index'])
data_rf

,SMILES,C_log_index,DFT C NMR,ML C NMR,exp_result,DFT H NMR,H_log_index
0,c1n2ccncc2nc1,1,110.3638,118.63,1,7.2039,10
1,c1n2ccncc2nc1,3,116.4586,122.32,0,7.5963,11
2,c1n2ccncc2nc1,4,129.6186,132.70,0,7.6156,12
3,c1n2ccncc2nc1,6,144.3893,141.73,0,8.7583,13
4,c1n2ccncc2nc1,9,135.5628,133.40,0,7.4819,14
...,...,...,...,...,...,...,...
1972,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,32,130.6484,127.88,0,7.7050,55
1973,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,33,127.2607,128.50,0,7.0851,56
1974,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,34,126.8953,128.78,0,7.0725,57
1975,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,35,126.3238,128.52,0,7.0411,58
1976,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,36,126.2202,128.32,0,6.8548,59

In [7]:
H_pred  = pd.read_csv('H_nmr_eas_predict_smi.csv')
H_pred = H_pred.rename(columns={'smiles':'SMILES','atom_index':'H_log_index','Shift':'ML H NMR'})
H_pred = H_pred.drop(['name','mol_id'],axis=1)
H_pred

      H_log_index  ML H NMR               SMILES
0               6      7.70           n1ccc[nH]1
1               7      6.71           n1ccc[nH]1
2               8      7.52           n1ccc[nH]1
3               9      7.39           n1ccc[nH]1
4              12      7.49      n1cccn1c1ncccn1
...           ...       ...                  ...
6160           15      7.73  Oc1cc[nH+]c2ccccc12
6161           16      7.52  Oc1cc[nH+]c2ccccc12
6162           17      7.52  Oc1cc[nH+]c2ccccc12
6163           18      7.36  Oc1cc[nH+]c2ccccc12
6164           19      8.03  Oc1cc[nH+]c2ccccc12

[6165 rows x 3 columns]

In [8]:
data_rf = data_rf.merge(H_pred,on=['SMILES','H_log_index'])
data_rf

,SMILES,C_log_index,DFT C NMR,ML C NMR,exp_result,DFT H NMR,H_log_index,ML H NMR
0,c1n2ccncc2nc1,1,110.3638,118.63,1,7.2039,10,7.42
1,c1n2ccncc2nc1,3,116.4586,122.32,0,7.5963,11,7.99
2,c1n2ccncc2nc1,4,129.6186,132.70,0,7.6156,12,8.13
3,c1n2ccncc2nc1,6,144.3893,141.73,0,8.7583,13,8.55
4,c1n2ccncc2nc1,9,135.5628,133.40,0,7.4819,14,7.26
...,...,...,...,...,...,...,...,...
1972,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,32,130.6484,127.88,0,7.7050,55,6.66
1973,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,33,127.2607,128.50,0,7.0851,56,7.18
1974,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,34,126.8953,128.78,0,7.0725,57,7.17
1975,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,35,126.3238,128.52,0,7.0411,58,7.21
1976,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,36,126.2202,128.32,0,6.8548,59,6.61

In [9]:
element = 'Si'
si_i, si_smi = [], []
for i, smi in enumerate(data_rf['SMILES']):
    if smi.find(element) > -1:
        si_smi.append(smi)
        si_i.append(i)
# Dataframe with only Si molecules
Si_mols = data_rf.iloc[si_i]
# # removing Si
data_rf = data_rf.drop(Si_mols.index)
data_rf
# Si_mols

,SMILES,C_log_index,DFT C NMR,ML C NMR,exp_result,DFT H NMR,H_log_index,ML H NMR
0,c1n2ccncc2nc1,1,110.3638,118.63,1,7.2039,10,7.42
1,c1n2ccncc2nc1,3,116.4586,122.32,0,7.5963,11,7.99
2,c1n2ccncc2nc1,4,129.6186,132.70,0,7.6156,12,8.13
3,c1n2ccncc2nc1,6,144.3893,141.73,0,8.7583,13,8.55
4,c1n2ccncc2nc1,9,135.5628,133.40,0,7.4819,14,7.26
...,...,...,...,...,...,...,...,...
1972,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,32,130.6484,127.88,0,7.7050,55,6.66
1973,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,33,127.2607,128.50,0,7.0851,56,7.18
1974,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,34,126.8953,128.78,0,7.0725,57,7.17
1975,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,35,126.3238,128.52,0,7.0411,58,7.21
1976,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,36,126.2202,128.32,0,6.8548,59,6.61

In [10]:
element = 'Br'
br_i, br_smi = [], []
for i, smi in enumerate(data_rf['SMILES']):
    if smi.find(element) > -1:
        br_smi.append(smi)
        br_i.append(i)
# Dataframe with only Br molecules
br_mols = data_rf.iloc[br_i]
# # removing Br
data_rf = data_rf.drop(br_mols.index)
data_rf
# Br_mols

,SMILES,C_log_index,DFT C NMR,ML C NMR,exp_result,DFT H NMR,H_log_index,ML H NMR
0,c1n2ccncc2nc1,1,110.3638,118.63,1,7.2039,10,7.42
1,c1n2ccncc2nc1,3,116.4586,122.32,0,7.5963,11,7.99
2,c1n2ccncc2nc1,4,129.6186,132.70,0,7.6156,12,8.13
3,c1n2ccncc2nc1,6,144.3893,141.73,0,8.7583,13,8.55
4,c1n2ccncc2nc1,9,135.5628,133.40,0,7.4819,14,7.26
...,...,...,...,...,...,...,...,...
1972,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,32,130.6484,127.88,0,7.7050,55,6.66
1973,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,33,127.2607,128.50,0,7.0851,56,7.18
1974,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,34,126.8953,128.78,0,7.0725,57,7.17
1975,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,35,126.3238,128.52,0,7.0411,58,7.21
1976,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,36,126.2202,128.32,0,6.8548,59,6.61

In [11]:
from rdkit import Chem
from collections import Counter
from tqdm import tqdm
tqdm.pandas()

smiles= pd.Series(data_rf.SMILES.unique())

def get_elements(smiles):
    mol = Chem.MolFromSmiles(smiles)
    elems = Counter((atom.GetSymbol() for atom in Chem.AddHs(mol).GetAtoms()))
    return pd.Series(elems)

elems = smiles.progress_apply(get_elements).fillna(0).astype(int)

/opt/anaconda3/envs/my-rdkit-env/lib/python3.7/site-packages/tqdm/std.py:670: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
100%|██████████| 376/376 [00:00<00:00, 1583.29it/s]

In [12]:
elems

      C  N   H  S  O  Cl  F  P
0     6  3   5  0  0   0  0  0
1    11  1  11  1  2   0  0  0
2     4  2   4  0  1   0  0  0
3     8  3   7  0  1   0  0  0
4     3  1   3  0  1   0  0  0
..   .. ..  .. .. ..  .. .. ..
371  18  5  20  0  0   0  3  0
372  20  4  24  0  1   0  0  0
373  23  5  17  0  1   2  0  0
374  21  5  30  0  3   0  3  0
375  30  2  23  0  3   1  0  0

[376 rows x 8 columns]

In [13]:
data_rf

,SMILES,C_log_index,DFT C NMR,ML C NMR,exp_result,DFT H NMR,H_log_index,ML H NMR
0,c1n2ccncc2nc1,1,110.3638,118.63,1,7.2039,10,7.42
1,c1n2ccncc2nc1,3,116.4586,122.32,0,7.5963,11,7.99
2,c1n2ccncc2nc1,4,129.6186,132.70,0,7.6156,12,8.13
3,c1n2ccncc2nc1,6,144.3893,141.73,0,8.7583,13,8.55
4,c1n2ccncc2nc1,9,135.5628,133.40,0,7.4819,14,7.26
...,...,...,...,...,...,...,...,...
1972,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,32,130.6484,127.88,0,7.7050,55,6.66
1973,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,33,127.2607,128.50,0,7.0851,56,7.18
1974,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,34,126.8953,128.78,0,7.0725,57,7.17
1975,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,35,126.3238,128.52,0,7.0411,58,7.21
1976,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,36,126.2202,128.32,0,6.8548,59,6.61

In [18]:
# getting regio
smi = pd.read_csv('internal_test_data_smiles_for_regio.csv')
regio = pd.read_csv('internal_test_data_only_reqio.csv')

In [19]:
regio = regio.drop(['Unnamed: 4'],axis=1)
for i in regio.index:
    for j in smi.index:
        if regio.at[i,'name'] == smi.at[j,'Name']:
            val = smi.at[j,'SMILES']
    regio.at[i,'SMILES'] = val

In [20]:
regio

       name  index  exp    regio               SMILES
0     comp1      1    0   9.6843           n1ccc[nH]1
1     comp1      2    1   0.0000           n1ccc[nH]1
2     comp1      3    0  11.0524           n1ccc[nH]1
3     comp2      1    0  12.6857      n1cccn1c1ncccn1
4     comp2      2    1   0.0000      n1cccn1c1ncccn1
...     ...    ...  ...      ...                  ...
2989  arr77      3    0  30.3881  Oc1cc[nH+]c2ccccc12
2990  arr77      6    0   4.4162  Oc1cc[nH+]c2ccccc12
2991  arr77      7    0   9.6031  Oc1cc[nH+]c2ccccc12
2992  arr77      8    1  30.0000  Oc1cc[nH+]c2ccccc12
2993  arr77      9    0   9.2603  Oc1cc[nH+]c2ccccc12

[2994 rows x 5 columns]

In [21]:
regio['C_log_index'] = regio['index'] + 1

In [22]:
regio=regio.drop(['index'],axis=1)

In [23]:
regio

       name  exp    regio               SMILES  C_log_index
0     comp1    0   9.6843           n1ccc[nH]1            2
1     comp1    1   0.0000           n1ccc[nH]1            3
2     comp1    0  11.0524           n1ccc[nH]1            4
3     comp2    0  12.6857      n1cccn1c1ncccn1            2
4     comp2    1   0.0000      n1cccn1c1ncccn1            3
...     ...  ...      ...                  ...          ...
2989  arr77    0  30.3881  Oc1cc[nH+]c2ccccc12            4
2990  arr77    0   4.4162  Oc1cc[nH+]c2ccccc12            7
2991  arr77    0   9.6031  Oc1cc[nH+]c2ccccc12            8
2992  arr77    1  30.0000  Oc1cc[nH+]c2ccccc12            9
2993  arr77    0   9.2603  Oc1cc[nH+]c2ccccc12           10

[2994 rows x 5 columns]

In [24]:
regio_to_add = regio [['name','SMILES','C_log_index','regio']]

In [25]:
data_rf_final = data_rf.merge(regio_to_add,on=['SMILES','C_log_index'])
data_rf_final

,SMILES,C_log_index,DFT C NMR,ML C NMR,exp_result,DFT H NMR,H_log_index,ML H NMR,name,regio
0,c1n2ccncc2nc1,1,110.3638,118.63,1,7.2039,10,7.42,comp38,0.0000
1,c1n2ccncc2nc1,3,116.4586,122.32,0,7.5963,11,7.99,comp38,17.7683
2,c1n2ccncc2nc1,4,129.6186,132.70,0,7.6156,12,8.13,comp38,14.0603
3,c1n2ccncc2nc1,6,144.3893,141.73,0,8.7583,13,8.55,comp38,20.3978
4,c1n2ccncc2nc1,9,135.5628,133.40,0,7.4819,14,7.26,comp38,15.4979
...,...,...,...,...,...,...,...,...,...,...
1811,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,32,130.6484,127.88,0,7.7050,55,6.66,comp171,0.0000
1812,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,33,127.2607,128.50,0,7.0851,56,7.18,comp171,31.1080
1813,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,34,126.8953,128.78,0,7.0725,57,7.17,comp171,32.4729
1814,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,35,126.3238,128.52,0,7.0411,58,7.21,comp171,30.2598
1815,c1cnc(n1c1cccc(c1)C=O)c1c(cc(c(c1)Cl)OCc1ccccc...,36,126.2202,128.32,0,6.8548,59,6.61,comp171,1.1686

In [26]:
# predicions
X_dft = data_rf_final[['DFT C NMR','DFT H NMR','regio']].to_numpy()

In [27]:
X_ml = data_rf_final[['ML C NMR','ML H NMR','regio']].to_numpy()

In [28]:
X_regio = data_rf_final[['regio']].to_numpy()

In [31]:
Y = np.concatenate(data_rf_final[['exp_result']].astype(int).to_numpy())

In [51]:
# with grid search
from sklearn.metrics import accuracy_score, roc_auc_score, f1_score
from sklearn.metrics import classification_report,confusion_matrix

import numpy
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

def split_data(X, Y,random_state, partition):

    from sklearn.model_selection import train_test_split

    x1, x2, y1, y2 = train_test_split(X, Y,test_size = partition, random_state=random_state)

    return x1, x2, y1, y2

def scan_parameters(x,y):


    n_estimators = [100,200,300,400]
    max_features = [1,2]
    max_depth = [15, 10, 100, 1000]

    params_dict = {'n_estimators': n_estimators, 'max_features' : max_features, 'max_depth': max_depth}

    scaler = StandardScaler(copy=True, with_mean=True, with_std=True)
    scaler.fit(x)
    x = scaler.transform(x)

    grid_search = GridSearchCV(estimator = RandomForestClassifier(), param_grid = params_dict, cv = 3,  n_jobs = 12)
    grid_search.fit(x, y)
#     print(grid_search.best_params_)

    return grid_search.best_params_

def train_RF(X_train, y_train, X_valid, y_valid, param_list = None):

    x_train = X_train
    x_valid = X_valid

    scaler = StandardScaler(copy=True, with_mean=True, with_std=True)
    scaler.fit(x_train)

    x_train = scaler.transform(x_train)

    if param_list == None:
        rf_classifier = RandomForestClassifier(n_estimators = 300)

    else:
        rf_classifier = RandomForestClassifier(n_estimators=param_list['n_estimators'], max_features = param_list['max_features'], max_depth = param_list['max_depth'])

    rf_classifier.fit(x_train, y_train)


    x_valid = scaler.transform(x_valid)
    predictions = rf_classifier.predict(x_valid)
    accuracy = (100*accuracy_score(y_valid, predictions))

    return accuracy

def build_RF_classifier(X,Y, option, model_name = None):

    if option == 'default':

        accuracies_default = []
        for i in range(10):
            x_train, x_valid, y_train, y_valid = split_data (X, Y,i,0.20)
            accuracies_default.append(train_RF(x_train, y_train, x_valid, y_valid))

        print('Average accuracy over 10 default runs: %.2f' % numpy.mean(accuracies_default))

    elif option == 'train':

        print('*-----------------------------*')
        print('Searchig for best parameters.')

        params = []
        accuracies = []

        for i in range(10):
            x_train, x_valid, y_train, y_valid = split_data (X, Y,i,0.20)
            best_parameters = scan_parameters(x_train, y_train)
            params.append(best_parameters)
            accuracy = train_RF(x_train, y_train, x_valid, y_valid, best_parameters)
            accuracies.append(accuracy)

        print('*-----------------------------*')
        print('Summary of Results.')
        print('*-----------------------------*')


        for i in range(len(accuracies)):
            print('Run ' + str (i+1)+ ' ', params[i], ' : ', accuracies[i])

        print('*-----------------------------*')
        print('Average of accuracy.')
        print('*-----------------------------*')
        print(numpy.average(accuracies))

In [52]:
build_RF_classifier(X_dft,Y, 'default', model_name = None)

Average accuracy over 10 default runs: 90.49

In [53]:
build_RF_classifier(X_ml,Y, 'default', model_name = None)

Average accuracy over 10 default runs: 90.25

In [54]:
build_RF_classifier(X_regio,Y, 'default', model_name = None)

Average accuracy over 10 default runs: 88.52

In [55]:
build_RF_classifier(X_dft,Y, 'train', model_name = None)

*-----------------------------*
Searchig for best parameters.
*-----------------------------*
Summary of Results.
*-----------------------------*
Run 1  {'max_depth': 10, 'max_features': 1, 'n_estimators': 100}  :  90.65934065934066
Run 2  {'max_depth': 10, 'max_features': 1, 'n_estimators': 400}  :  90.38461538461539
Run 3  {'max_depth': 10, 'max_features': 1, 'n_estimators': 400}  :  89.56043956043956
Run 4  {'max_depth': 10, 'max_features': 1, 'n_estimators': 400}  :  91.20879120879121
Run 5  {'max_depth': 10, 'max_features': 2, 'n_estimators': 100}  :  92.03296703296702
Run 6  {'max_depth': 10, 'max_features': 1, 'n_estimators': 200}  :  93.4065934065934
Run 7  {'max_depth': 100, 'max_features': 2, 'n_estimators': 400}  :  90.65934065934066
Run 8  {'max_depth': 10, 'max_features': 1, 'n_estimators': 400}  :  89.83516483516483
Run 9  {'max_depth': 15, 'max_features': 2, 'n_estimators': 200}  :  90.10989010989012
Run 10  {'max_depth': 10, 'max_features': 1, 'n_estimators': 300}  :  89.56043956043956
*-----------------------------*
Average of accuracy.
*-----------------------------*
90.74175824175823

In [56]:
build_RF_classifier(X_ml,Y, 'train', model_name = None)

*-----------------------------*
Searchig for best parameters.
*-----------------------------*
Summary of Results.
*-----------------------------*
Run 1  {'max_depth': 10, 'max_features': 1, 'n_estimators': 400}  :  91.20879120879121
Run 2  {'max_depth': 10, 'max_features': 1, 'n_estimators': 300}  :  89.83516483516483
Run 3  {'max_depth': 10, 'max_features': 1, 'n_estimators': 400}  :  90.38461538461539
Run 4  {'max_depth': 10, 'max_features': 1, 'n_estimators': 200}  :  92.03296703296702
Run 5  {'max_depth': 10, 'max_features': 1, 'n_estimators': 200}  :  91.75824175824175
Run 6  {'max_depth': 10, 'max_features': 2, 'n_estimators': 300}  :  90.65934065934066
Run 7  {'max_depth': 10, 'max_features': 1, 'n_estimators': 200}  :  90.65934065934066
Run 8  {'max_depth': 100, 'max_features': 2, 'n_estimators': 300}  :  89.56043956043956
Run 9  {'max_depth': 10, 'max_features': 2, 'n_estimators': 400}  :  92.3076923076923
Run 10  {'max_depth': 15, 'max_features': 1, 'n_estimators': 400}  :  89.01098901098901
*-----------------------------*
Average of accuracy.
*-----------------------------*
90.74175824175822

In [57]:
build_RF_classifier(X_regio,Y, 'train', model_name = None) #change scan to 1

*-----------------------------*
Searchig for best parameters.
*-----------------------------*
Summary of Results.
*-----------------------------*
Run 1  {'max_depth': 10, 'max_features': 1, 'n_estimators': 100}  :  86.81318681318682
Run 2  {'max_depth': 10, 'max_features': 1, 'n_estimators': 200}  :  89.56043956043956
Run 3  {'max_depth': 10, 'max_features': 1, 'n_estimators': 100}  :  87.91208791208791
Run 4  {'max_depth': 10, 'max_features': 1, 'n_estimators': 100}  :  88.46153846153845
Run 5  {'max_depth': 10, 'max_features': 1, 'n_estimators': 100}  :  90.38461538461539
Run 6  {'max_depth': 15, 'max_features': 1, 'n_estimators': 100}  :  89.83516483516483
Run 7  {'max_depth': 15, 'max_features': 1, 'n_estimators': 100}  :  88.73626373626374
Run 8  {'max_depth': 15, 'max_features': 1, 'n_estimators': 100}  :  88.18681318681318
Run 9  {'max_depth': 10, 'max_features': 1, 'n_estimators': 200}  :  90.93406593406593
Run 10  {'max_depth': 15, 'max_features': 1, 'n_estimators': 100}  :  86.26373626373626
*-----------------------------*
Average of accuracy.
*-----------------------------*
88.70879120879121

In [58]:
data_rf_final.to_csv('nmr_eas_dft_ml_C_and_H_and_regio.csv',index=False)

In [59]:
print('TESTING for ML')
print('*-----------------------------*')

n_estimators = 400
max_features = 2
max_depth = 10

param_list = {'n_estimators': n_estimators, 'max_features' : max_features, 'max_depth': max_depth}

scaler = StandardScaler(copy=True, with_mean=True, with_std=True)
scaler.fit(X_ml)

rf_regressor = RandomForestClassifier(n_estimators=param_list['n_estimators'], max_features = param_list['max_features'], max_depth = param_list['max_depth'])
rf_regressor.fit(X_ml, Y)

predictions = rf_regressor.predict(X_ml)

accuracy = (100*accuracy_score(Y, predictions))

print('Summary of Results.')            
print('*-----------------------------*')
print('Accuracy: %.2f' % accuracy)

TESTING for ML
*-----------------------------*
Summary of Results.
*-----------------------------*
Accuracy: 97.47

In [60]:
data_rf_final['predicted_y'] = predictions

In [61]:
100*accuracy_score(data_rf_final['predicted_y'],data_rf_final['exp_result'])

97.4669603524229

In [62]:
data_rf_final.to_csv('nmr_eas_dft_ml_C_and_H_and_regio_wiht_predict_y.csv',index=False)